// Nextflow Configuration File for Automated NGS Pipeline
params {
    reads        = "$baseDir/data/sample_{1,2}.fastq.gz"
    genome_index = "$baseDir/reference/genome_index"
    gtf          = "$baseDir/reference/yeast_annotation.gtf"
    outdir       = "$baseDir/results"
    cpus         = 2
    memory       = "4 GB"
}

process {
    withName: 'FASTQC|ALIGN|SAMTOOLS|FEATURECOUNTS|MULTIQC|DESEQ2' {
        conda = "${baseDir}/environment.yml"
    }
}

manifest {
    name        = 'automated-ngs-pipeline'
    author      = 'Greeshma Reddy'
    description = 'An automated reproducible RNA-seq alignment, quantification, and statistical analysis pipeline.'
    version     = '1.1.0'
} 


